@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth !important;}
.pagina1{
    width: 100%;
    height: 100vh;
}
.fundal img {
  width: 100%;
  height: 100vh;
}
.fundal2{
  width:100%;
  height: 70vh;
  background-image: url(/imagini/fundal2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -420px;
  position: relative;
  z-index: -1;
}

.logo img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30vh;
  left: 40vw;
}
.pagina2 {
  height: 100vh;
  width: 100%;
}

.container-sporturi {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.sport-grid {
  background-color: rgb(102, 102, 102);
  width: 180px;
  height: 34vh;
  border-radius: 40px;
  margin-top: 32vh;
  box-shadow: 0 0 20px 2px #000000;
  z-index: -1;

}
.descriere-container, .text2 {
  width: 100%;
  height: 30vh;
  background-color: rgb(218, 218, 218);
  line-height: 1.5;
}
.descriere-container p {
  text-align: center;
  font-size: 25px;
  padding: 60px;
}
.text2{
  text-align: center;
  font-size: 25px;
  padding: 10px
}

.sport-grid h3 {
  text-align: center;
  padding: 10px;
  font-size: 21px;
  color: aliceblue;
}

.sport-grid p {
  position: relative;
  bottom: 20px;
  left: 5px;
  font-size: 200px;
  color: aliceblue;
  z-index: -1;
}
#sg1 {
  background-image: url(/imagini/fotbal.jpg);
  background-size: cover;
}
#sg2 {
  background-image: url(/imagini/baschet.jpg);
  background-size: cover;
}
#sg3 {
  background-image: url(/imagini/tenis.jpg);
  background-size: cover;

}
#sg4 {
  background-image: url(/imagini/volei.jpg);
  background-size: cover;
  background-position-x: -75px;
  background-repeat: no-repeat;
}
#sg5 {
  background-image: url(/imagini/semimaraton.jpg);
  background-size: cover;
  background-position-x: -130px;
}

#nav{
    position: fixed;

}
.menu{
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #361712;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menu a{
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}


.closebtn {
    padding-left: 15px;
    padding-top: 25px;
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 35px;
    margin-right: 50px;
  }
.menu span a{
    font-size: 25px;
    margin-top: 30px;
}
.links{
    margin-top: 100px;
}
.menu a:hover{
    color: gray;
}

.menulogo img{
    width: 150px;
    align-items: flex-end;
    
}
.menu-button i{
    color: rgb(255, 255, 255);
    
}

.upper{
    flex:4;
}
.menulogo{
    flex:1;
}

.navbar{
    width: 100%;

}
.menu-button{
    position: fixed;
    left: 15px;
    top: 25px;
    font-size: 35px;
}
.navbar img {
    position: fixed;
    top: 25px;
    right: 20px;
    width: 200px;
}
.locatie{
    height: 450px;
}
.bara-contact{
    background-color: black;
    width: 100%;
    height:5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bara-contact i{
    color: white;
    margin-top: 1.5vh;
    margin-left: 2vw;
}
.formular{
    width: 100%;
    height: 100vh;
    background-image: url(/imagini/fundal3.jpg);
    background-size: cover;
    background-position-y: -220px;
    background-repeat: no-repeat;
}
.titlu-form{
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    padding: 20px;
}
.upper{
    z-index: 0;
}